* {
    box-sizing: border-box;
    font-family: main;
    color: gray;
}

a {
    text-decoration: none;
}

@media (max-width: 3000px) and (min-width: 1025px) {
    body {
        margin: 0px;
    }
    .container-up {
        max-width: 100%;
        height: 150px;
        position: relative;
    }
    #temp {
        display: none;
    }
    .iphone {
        display: none;
    }
    #menu {
        display: none;
    }
    .nav-top {
        height: 100%;
        list-style: none;
        position: absolute;
        left: 10%;
        float: left;
        margin: 0px;
        top: 30px;
    }
    .nav-top li a {
        height: 100%;
        display: inline-block;
        margin: 50px 0px;
        font-size: 2rem;
    }
    .nav-top li a:hover, .nav-top li a:hover i {
        color: rgb(98, 198, 255);
    }
    .nav-top li a:active, .nav-top li a:hove {
        color: rgb(0, 162, 255);
    }
    .nav-top li {
        display: inline-block;
        text-transform: capitalize;
        margin: 0px 15px;
    }
    .logo {
        position: absolute;
        float: right;
        right: 10%;
        top: 15px;
    }
    .logo span {
        display: inline-block;
        height: 100%;
        color: rgb(98, 198, 255);
        font-size: 6rem;
    }
    .logo img {
        display: inline-block;
        transform: translate(0px, 30%);
        -webkit-transform: translate(0px, 30%);
        -moz-transform: translate(0px, 30%);
        -ms-transform: translate(0px, 30%);
        -o-transform: translate(0px, 30%);
    }
    .clear {
        content: "";
        clear: both;
        display: inline-table;
    }
    .main {
        position: absolute;
        display: inline-block;
        height: 70vh;
        width: 80vw;
        right: 15%;
    }
    .main p {
        font-size: 2.9rem;
        text-align: right;
    }
    .button {
        display: inline-block;
        width: 90px;
        height: 40px;
        background-color: rgb(98, 198, 255);
        position: absolute;
        left: 50%;
        border-radius: 2px;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .button span {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        color: white;
        font-size: x-large;
    }
    .line {
        text-align: right;
    }
    .line p:nth-child(2) {
        padding-top: 70px;
        font-size: 2rem;
        color: rgb(167, 167, 167);
        display: inline-block;
    }
    .line p:nth-child(4) {
        padding-top: 20px;
        font-size: 2rem;
        color: rgb(167, 167, 167);
        display: inline-block;
    }
    .line p:nth-child(6) {
        font-size: 2rem;
        color: rgb(167, 167, 167);
        display: inline-block;
    }
    .inputs {
        display: inline-block;
        width: 53%;
        height: 70px;
        border-width: 1px;
        border-color: rgba(128, 128, 128, 0.438);
        font-size: x-large;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .chk {
        width: 30px;
        height: 30px;
    }
    #email, #pass {
        text-align: center;
        font-size: x-large;
    }
    .rem-iphone {
        display: none;
    }
    .rem1, .rem2 {
        display: none;
    }
}

/* tablet 1 */

@media (max-width: 1024px) and (min-width: 700px) {
    body {
        margin: 0px;
    }
    #menu {
        display: none;
    }
    #temp {
        display: none;
    }
    .iphone {
        display: none;
    }
    .container-up {
        max-width: 100%;
        height: 100px;
        position: relative;
    }
    .nav-top {
        height: 100%;
        list-style: none;
        position: absolute;
        left: 5%;
        float: left;
        margin: 0px;
        top: 10px;
    }
    .nav-top li {
        display: inline-block;
    }
    .nav-top li a {
        height: 100%;
        display: inline-block;
        margin: 25px 0px;
        font-size: 2rem;
    }
    .logo {
        position: absolute;
        float: right;
        right: 5%;
        top: 5px;
    }
    .logo span {
        display: inline-block;
        height: 100%;
        color: rgb(98, 198, 255);
        font-size: 4rem;
    }
    .logo img {
        display: inline-block;
        height: 30%;
        width: 30%;
        transform: translate(0px, 20%);
        -webkit-transform: translate(0px, 20%);
        -moz-transform: translate(0px, 20%);
        -ms-transform: translate(0px, 20%);
        -o-transform: translate(0px, 20%);
    }
    .main {
        position: absolute;
        display: inline-block;
        height: 70vh;
        width: 90vw;
        right: 10%;
    }
    .main p {
        font-size: 2rem;
    }
    .button {
        display: inline-block;
        width: 60px;
        height: 30px;
        background-color: rgb(98, 198, 255);
        position: absolute;
        left: 50%;
        border-radius: 2px;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .button span {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        color: white;
        font-size: large;
    }
    .line p:nth-child(2) {
        padding-top: 50px;
        font-size: 1.5rem;
        color: rgb(167, 167, 167);
        display: inline-block;
    }
    .line p:nth-child(4) {
        padding-top: 10px;
        font-size: 1.5rem;
        display: inline-block;
    }
    .line p:nth-child(6) {
        font-size: 1.5rem;
        color: rgb(167, 167, 167);
        display: inline-block;
    }
    .inputs {
        display: inline-block;
        width: 50%;
        height: 50px;
        border-width: 1px;
        border-color: rgba(128, 128, 128, 0.438);
        font-size: large;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .chk {
        width: 20px;
        height: 20px;
    }
    #pass {
        margin-right: 0px!important;
    }
    #email, #pass {
        text-align: center;
        font-size: x-large;
    }
    .rem-iphone {
        display: none;
    }
    .rem1, .rem2 {
        display: none;
    }
    .line {
        margin-left: 70px;
    }
    .p1 {
        text-align: center;
    }
}

/* smart1 */

@media (max-width: 699px) and (min-width: 1px) {
    body {
        margin: 0px;
    }
    .container-up {
        position: sticky;
        top: 0px;
    }
    .nav-top {
        display: none;
    }
    .logo {
        background-color: rgb(0, 119, 255);
        width: 100%;
        height: 50px;
        z-index: 5;
        text-align: right;
    }
    .logo a i {
        transition: all 0.5s ease-in-out;
    }
    .logo:hover a i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .logo span {
        font-size: xx-large;
        color: white;
    }
    .logo img {
        display: none;
    }
    .iphone {
        position: absolute;
        width: 100%;
        text-align: center;
        top: -200px;
    }
    .logo:hover .iphone {
        z-index: -1;
        top: 50px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    #menu {
        color: white;
        margin-right: 20px;
    }
    .iphone-menu {
        width: 100%;
        background-color: rgb(0, 106, 226);
        color: white;
        height: 50px;
        padding-top: 10px;
        border-bottom: 1px solid rgb(0, 106, 226);
        border-top: 1px solid rgb(0, 106, 226);
    }
    .iphone-menu:hover {
        transition: all 0.5s ease-in-out;
        background-color: rgb(0, 87, 185);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-top: 2px solid rgb(255, 255, 255);
    }
    #temp {
        margin-top: 40px;
        display: block;
        text-align: center;
        font-size: 2.5rem;
        color: rgb(0, 157, 255);
    }
    .forma {
        position: relative;
        padding-top: 15px;
        text-align: center;
        display: block;
    }
    .main p {
        font-size: large;
        font-weight: bold;
    }
    .button {
        background-color: rgb(0, 140, 255);
        display: inline-block;
        width: 100px;
        height: 40px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    .button span {
        display: inline-block;
        padding-top: 7px;
        color: white;
        width: 100%;
        height: 100%;
    }
    .main {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .line {
        margin-top: 20px;
    }
    .p6 {
        margin-left: 0px;
    }
    .inputs {
        margin: 0px!important;
        width: 90%;
        height: 60px;
        margin-top: 20px!important;
    }
    .p2, .p3 {
        display: none;
    }
    #email, #pass {
        text-align: center;
        font-size: x-large;
    }
    .p4, .chk {
        display: none;
    }
    .rem1, .rem2 {
        display: inline-block;
    }
    .rem-iphone {
        height: 200px;
    }
    .p6 {
        font-size: large!important;
        display: inline-block;
        margin: auto;
    }
    .p6 a:nth-child(2) {
        display: none;
    }
}